body {
    background-color: black;
}
button {
    position: absolute;
    display: flex;
    height: 33vh;
    width: 33vh;
    cursor: pointer;
    opacity: 0.4;
}
button:hover {
    transition: step-start ;
    opacity: 1;
    transform: scale(1.1);
}
button.active {
    opacity: 1;
}
button.esquerda {
    left: 20vh;
    top: 33vh;
    background-color: green;    
}

button.direita {
    right: 20vh;
    top: 33vh;
    background-color: red;    
}

button.cima {
    left: 42vw;
    background-color: blue;    
}

button.baixo {
    left: 42vw;
    top: 65vh;
    background-color: yellow;    
}

button.iniciar {
    top: 44%;
    left: 42%;
    height: 10vh;
    width: 33vh;
    align-items: center;
    font-size: 40px;
    justify-content: center;
}
button.iniciar:hover {
    transition: step-start ;
    opacity: 1;
    transform: scale(1.1);
}